.cell {
	vertical-align: middle;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}
input.button {
	font-size: 1.5em;
}
#add_task {
	background-color: rgb(78,226,85);
}
textarea {
	width: 90%;
	height: 5em;
	resize : none;
}
.remove {
	font-size: 4em;
	font-weight: bold;
	color: rgb(181,9,4);
	cursor: pointer;
}
#added_tasks_input, #add_task_row_to_clone, #gen_fields_to_clone, #field_value_inputs_to_clone, .field_type, .field_id {
	display : none;
}
.field_value {
	margin : 1em;
}
.del_field_value {
	color : #dd0000;
	font-weight: bold;
	cursor : pointer;
	font-size: 2em;
	position: absolute;
	right: 0em;
}