body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

/*==================MARKING====================*/

.header {
	display: block;
	width: 100%;
	color: #ffffff;
	font-size: 32px;
	font-weight: bold;
	font-family: arial;
	background-color: rgb(198,105,126);
}
.container {
	position : relative;
	padding : 1em;
	display: block;
	color : #000000;
	background-color: #ffffff;
	left: 50%;
	font-family: sans-serif;
}
.section {
	position: relative;
	width: 100%;
	border-top: 1px rgb(136,142,174) solid;
	padding: inherit;
	display: inherit;
}
.item {
	position: relative;
	width: 100%;
	padding: inherit;
	display: inherit;
}
.table {
	display: table;
	width: 100%;
}
.cell {
	display: table-cell;
}
.row {
	display: table-row;
}
.hidden {
	display: none;
}

/*==================TEXT AND COLOR====================*/

.button {
	display: inline-block;
	background-color: rgb(136,142,174);
	color: #ffffff;
	font-weight: bold;
	padding: 0.8em;
	cursor: pointer;
	border : none;
}
.center {
	text-align: center;
}
.title {
	font-size: 1.5em;
	font-weight: bold;
}
.subtitle {
	font-size: 1.2em;
	font-weight: bolder;
}
.hint {
	color : rgb(136,142,174);
}
.click {
	text-decoration: underline;
	cursor: pointer;
	display: inline;
}

/*==================MEDIA====================*/

@media all and (max-width: 999px) {
	.container {
		width : 750px;
		margin-left: -375px;
		font-size: 12px;
	}
}
@media all and (min-width: 1000px) {
	.container {
		width : 850px;
		margin-left: -425px;
		font-size: 13px;
	}
}
@media all and (min-width: 1200px) {
	.container {
		width : 1000px;
		margin-left: -500px;
		font-size: 14px;
	}
}
@media all and (min-width: 1400px) {
	.container {
		width : 1200px;
		margin-left: -600px;
		font-size: 15px;
	}
}
@media all and (min-width: 1600px) {
	.container {
		width : 1400px;
		margin-left: -700px;
		font-size: 16px;
	}
}
@media all and (min-width: 1800px) {
	.container {
		width : 1600px;
		margin-left: -800px;
		font-size: 18px;
	}
}
@media all and (min-width: 2000px) {
	.container {
		width : 1800px;
		margin-left: -900px;
		font-size: 20px;
	}
}